# Ignore phyddle workspace dirs
workspace/**

# ... except workspace `example` project
!workspace/simulate/example/
!workspace/format/example/
!workspace/train/example/
!workspace/estimate/example/
!workspace/plot/example/
!workspace/log/example/

!tests/workspace/simulate/valid/
!tests/workspace/format/valid/
!tests/workspace/estimate/valid/
!tests/workspace/train/valid/
!tests/workspace/plot/valid/

tests/workspace/simulate/test/
tests/workspace/format/test/
tests/workspace/estimate/test/
tests/workspace/train/test/
tests/workspace/plot/test/

# Ignore simulation tmp files
scripts/sim/PhyloJunction/bisse_timehet_*_parsed.pj

# Ignore extras in tests
#tests/workspace/*

# Ignore phyddle accessory dirs
sandbox/
paper/
code/
_old/
scripts/config

# Ignore phyddle accessory files
notes.txt
pkg_notes.txt

# Ignore everywhere
#.Rhistory
#.swp
#.vscode/
#.ipynb_checkpoints/
#__pycache__
#.DS_Store
#.DS_Store?
**/.Rhistory
**/*.swp
**/.vscode/
**/.ipynb_checkpoints/
**/__pycache__
**/.DS_Store
**/.DS_Store?

# Ignore Sphinx extras
#docs/build/doctrees
#docs/build/doctrees/*
#docs/build/html
docs/build/*

# Ignore OS files

# Ignore programming files

