# Ignore phyddle dirs
code/__pycache__/*
raw_data/*/*
tensor_data/*/*
network/*/*
plot/*/*
sandbox/

# Ignore OS files
.DS_Store
.DS_Store?

# Ignore programming files
.Rhistory
.swp
.vscode/
.ipynb_checkpoints/

# Exceptions for `example` project
!raw_data/example/*
!tensor_data/example/*
!network/example/*
!predict/example/*
!plot/example/*
raw_data/example.zip

