# Ignore phyddle workspace dirs
workspace/*/simulate
workspace/*/format
workspace/*/train
workspace/*/estimate
workspace/*/plot
workspace/*/log

!tests/workspace/valid/simulate/
!tests/workspace/valid/format/
!tests/workspace/valid/estimate/
!tests/workspace/valid/train/
!tests/workspace/valid/plot/
!tests/workspace/valid/log/

tests/workspace/test/simulate/
tests/workspace/test/format/
tests/workspace/test/estimate/
tests/workspace/test/train/
tests/workspace/test/plot/
tests/workspace/test/log/

# Ignore simulation tmp files
workspace/bisse_timehet_pj/bisse_timehet_*_parsed.pj

# Ignore extras in tests
#tests/workspace/*

# Ignore phyddle accessory dirs
sandbox/
paper/
code/
_old/
scripts/config

# Ignore phyddle accessory files
notes.txt
pkg_notes.txt

# Ignore everywhere
#.Rhistory
#.swp
#.vscode/
#.ipynb_checkpoints/
#__pycache__
#.DS_Store
#.DS_Store?
**/.Rhistory
**/*.swp
**/.vscode/
**/.ipynb_checkpoints/
**/__pycache__
**/.DS_Store
**/.DS_Store?

# Ignore Sphinx extras
#docs/build/doctrees
#docs/build/doctrees/*
#docs/build/html
docs/build/*

# Ignore OS files

# Ignore programming files

